@font-face{
		font-family:myFont;
		src:url('Assets/fonts/Bluetea.ttf');
		}
@font-face{
	font-family:ninja;
	src:url('Assets/fonts/ninjago.ttf');
}
@font-face{
	font-family:cookie;
	src:url('Assets/fonts/CookieRun_Bold.otf');
}
@font-face{
	font-family:sp;
	src:url('Assets/fonts/south_park.ttf');
}
@font-face{
	font-family:gnsh;
	src:url('Assets/fonts/zh-cn.ttf');
}
@font-face{
	font-family:monke;
	src:url('Assets/fonts/Tournedos_DEMO.otf');
}
@font-face{
	font-family:hh;
	src:url('Assets/fonts/CowboyCadaver.ttf');
}
@font-face{
	font-family:zel;
	src:url('Assets/fonts/Triforce.ttf');
}
@font-face{
	font-family:sonic;
	src:url('Assets/fonts/NiseSegaSonic.ttf');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: red;
  font-family:"myFont";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
li.dropdown {
  display: inline-block;
}



	
	.dropdown-content{
		display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  z-index: 1;
	}
	.dropdown-content a {
		  color: white;
		 padding: 12px 16px;
		  text-decoration: none;
		 display: block;
	}
	.dropdown:hover .dropdown-content {
		display: block;
		}
		.dropdown:hover .dropbtn {
  background-color:#FFB359;
}
h1{
	font-size:90px;
	margin-left:40px;
}
h2{
	font-size:40px;
	margin-left:70px;
}
	
body
{
	background-color: #FFB359;
	font-family:"myFont";
	
	


	header{
		background-color:black;
		padding: 2px;
		text-align: center;
		font-size: 30px;
		text-color: white;
	}
	
	
	
	
	
	div {
	display: flex;
	justify-content: center;
		}


}
footer{
		background-color:black;
		padding: 2px;
		text-align: center;
		font-size: 25px;
		text-color: white;
	}