@font-face{
		font-family:myFont;
		src:url('Assets/fonts/Bluetea.ttf');
		}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: red;
  font-family:"myFont";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
li.dropdown {
  display: inline-block;
}



	
	.dropdown-content{
		display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  z-index: 1;
	}
	.dropdown-content a {
		  color: white;
		 padding: 12px 16px;
		  text-decoration: none;
		 display: block;
	}
	.dropdown:hover .dropdown-content {
		display: block;
		}
		.dropdown:hover .dropbtn {
  background-color:#FFB359;
}

	
body
{
	background-color: #FFB359;
	font-family:"myFont";
	
	


	header{
		background-color:black;
		padding: 2px;
		text-align: center;
		font-size: 30px;
		text-color: white;
	}
	
	
	
	
	
	div {
	display: flex;
	justify-content: center;
		}


}